html, body {
	width: 100vw;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	background-color: #fbfbfb;
	overflow-x: hidden;
}

body {
	display: grid;
	grid-template: repeat(10, 10%) 5px / 6.5% 87% 6.5%;
	grid-row-gap: 1vh;
}

.container {
	grid-column: 2;
	grid-row: 4;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

#logo {
	width: calc(50px + 20vh);
	height: auto;
}

#searchBox {
	width: 100%;
	max-width: 450px;
}

#searchBox input {
	width: 85%;
	height: 37px;
	padding: 10px 5px;
	border: 0;
	background: #eee;
	border-radius: 3px 0 0 3px;
}

#searchBox input:focus {
	outline: 0;
	background: #fff;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.8) inset;
}

#searchBox button {
	overflow: visible;
	position: relative;
	float: right;
	border: 0;
	padding: 0;
	cursor: pointer;
	height: 37px;
	width: 15%;
	color: #fff;
	text-transform: uppercase;
	background: #d83c3c;
	border-radius: 0 3px 3px 0;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

#searchBox button:before {
	position: absolute;
	top: 10px;
	left: -6px;
	content: '';
	border-width: 8px 8px 8px 0;
	border-style: solid solid solid none;
	border-color: transparent #d83c3c transparent;
}

#searchBox button:hover {
	background: #e54040;
}

#searchBox button:active,
#searchBox button:focus {
	background: #c42f2f;
}

#searchBox button:hover:before {
	border-right-color: #e54040;
}

#searchBox button:focus:before {
	border-right-color: #c42f2f;
}

#random a			{ text-decoration: none; }
#random a:link, 
#random a:visited 	{ color: #d83c3c; } 
#random a:hover 	{ color: #e54040; }
#random a:active 	{ color: #c42f2f; }

/******************************************/

#spacerLeft {
	width: 100%;
	height: 100%;
	grid-column: 1;
	grid-row: span 10;
}

#spacerRight {
	width: 100%;
	height: 100%;
	grid-column: 3;
	grid-row: span 10;
}

.item {
	display: none;
	width: calc(50% + 280px);
	max-width: 100%;
	margin: 0 auto;
	height: 100%;
	background-color: #eee;
}

.selector {
	width: 10px;
	height: 100%;
}

.item:hover .content {
	border-top-style: dotted;
	border-bottom-style: dotted;
	border-right-style: dotted;
	border-color: #d83c3c;
	cursor: pointer;
}

.item:hover .selector {
	background-color: #d83c3c;
} 

.content {
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
	border: 2px solid #eee;
}

.searchmatch {
	color: #d83c3c;
}

.item a {
	display: flex;
	text-decoration: none;
	color: black;
	width: 100%;
}